@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'glassAntiqua';
    src: url("~~/assets/fonts/GlassAntiqua-Regular.ttf");
}

@font-face {
    font-family: 'baloobhai';
    src: url("~~/assets/fonts/BalooBhai-Regular.ttf");
}


@layer components{
    .text-outline-black-bold{
        text-shadow: 2px 2px 0px #000000, 2px 0px 0px #000000, 2px -2px 0px #000000, 0px -2px 0px #000000, -2px -2px 0px #000000, -2px 0px 0px #000000, -2px 2px 0px #000000, -2px 2px 0px #000000;
    }
    .text-outline-black-thin{
        text-shadow: 1px 1px 0px #000000, 1px 0px 0px #000000, 1px -1px 0px #000000, 0px -1px 0px #000000, -1px -1px 0px #000000, -1px 0px 0px #000000, -1px 1px 0px #000000, -1px 1px 0px #000000;
    }
    .text-outline-white-bold{
        text-shadow: 2px 2px 0px #FFFFFF, 2px 0px 0px #FFFFFF, 2px -2px 0px #FFFFFF, 0px -2px 0px #FFFFFF, -2px -2px 0px #FFFFFF, -2px 0px 0px #FFFFFF, -2px 2px 0px #FFFFFF, -2px 2px 0px #FFFFFF;
    }
    .text-outline-white-thin{
        text-shadow: 1px 1px 0px #FFFFFF, 1px 0px 0px #FFFFFF, 1px -1px 0px #FFFFFF, 0px -1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, -1px 0px 0px #FFFFFF, -1px 1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
    }



}



@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }


  
/* ---------------LABELS------------------ */
/* GITHUB */
.github{
    @apply
    !bg-zinc-900
}
/* LINKEDIN */
.linkedin{
    @apply
    !bg-blue-900
}
/* youtube */
.youtube{
    @apply
    !bg-red-900
}
/* PORTFOLIO */
.portfolio{
    @apply
    !bg-amber-900
}
/* CUSTOM */
.custom{
    @apply
    !bg-fuchsia-900
}



/* -----------------------COLOR THEME------------------ */

.red{
    @apply
    !text-red-600 !bg-red-500 !border-red-950
}
.amber{
    @apply
    !text-amber-700 !bg-amber-500 !border-amber-950
}
.blue{
    @apply
    !text-blue-700 !bg-blue-500 !border-blue-950
}
.green{
    @apply
    !text-green-700 !bg-green-500 !border-green-950
}
.fuchsia{
    @apply
    !text-fuchsia-700 !bg-fuchsia-500 !border-fuchsia-950
}

.cyan{
    @apply
    !text-cyan-700 !bg-cyan-500 !border-cyan-950
}
.neutral{
    @apply
    !text-neutral-700 !bg-neutral-500 !border-neutral-950
}
.lime{
    @apply
    !text-lime-700 !bg-lime-500 !border-lime-950
}
.teal{
    @apply
    !text-teal-700 !bg-teal-500 !border-teal-950
}
.emerald{
    @apply
    !text-emerald-700 !bg-emerald-500 !border-emerald-950
}
.indigo{
    @apply
    !text-indigo-700 !bg-indigo-500 !border-indigo-950
}
.rose{
    @apply
    !text-rose-700 !bg-rose-500 !border-rose-950
}



/* FOR LINKS  */

/* BASE LINK */
.link{
    @apply
    border border-black md:rounded-full rounded-md
    md:px-10 md:py-2 px-1 py-2
    flex items-center justify-between gap-4 
    max-w-[25rem]  min-h-[4rem]  w-full

    font-baloobhai 
    relative overflow-hidden
}

.logo{
    @apply
    hover:scale-125 scale-100 transition-all  h-10 w-10 aspect-square 
}
.action{
    @apply
    hover:scale-125 scale-100 transition-all  h-8 aspect-square
    flex items-center justify-center gap-2
}

